:root {
    --primary:#16a34a;
    --bg:#f1f5f9;
    --card:#ffffff;
    --text:#0f172a;
    --muted:#64748b;
}

/* RESET */
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI', sans-serif;
}

body{
background:var(--bg);
color:var(--text);
}

/* PAGE WRAPPER */

.page{
max-width:600px;
margin:auto;
padding:20px;
}

/* TOP BAR */

.topbar{
display:flex;
align-items:center;
gap:15px;
margin-bottom:25px;
}

.back-btn{
width:42px;
height:42px;
border-radius:12px;
border:none;
background:var(--card);
font-size:20px;
cursor:pointer;
box-shadow:0 4px 10px rgba(0,0,0,.05);
}

/* CARD */

.card{
background:var(--card);
padding:20px;
border-radius:20px;
box-shadow:0 6px 18px rgba(0,0,0,.05);
}

/* INPUTS */

.input-group{
display:flex;
flex-direction:column;
margin-bottom:15px;
}

.input-group label{
font-size:14px;
margin-bottom:5px;
color:var(--muted);
}

.input-group input,
.input-group select{
padding:14px;
border-radius:12px;
border:1px solid #e5e7eb;
font-size:15px;
outline:none;
}

.input-group input:focus{
border-color:var(--primary);
}

/* BUTTON */

.primary-btn{
width:100%;
padding:16px;
border:none;
border-radius:14px;
background:var(--primary);
color:white;
font-size:16px;
cursor:pointer;
margin-top:10px;
box-shadow:0 8px 20px rgba(22,163,74,.35);
}

.primary-btn:hover{
transform:scale(1.02);
}